

.recent{
    height: 215px;
    h5.tieude.phu {
        text-decoration: none !important;
        font-size: 16px;
        color: #332c2ce3;
        font-weight: 500;
        font-style: italic;}
        img.anhtieude.con {
            width: 75%;
            height: auto;
            /* padding-left: 50px; */
            position: absolute;
            left: 44px;
            top: 53px;
            margin: 0;
            padding: 0;}
}

